@import '@/assets/styles/base/mixins';

.best-sellers {
  padding-bottom: 50px;
  overflow: hidden;
  max-width: 100vw;

  .cards-filter-block__main.cards-products-embla.embla{
    @include media-breakpoint-down(xxs){
      display: none;
    }
  }

  .pagination.hot-offers__pagination{
    @include media-breakpoint-down(xxs) {
      display: none;
    }
  }

  .pagination {
    margin-top: 36px;

    @include media-breakpoint-down(xs) {
      margin-top: 30px;

      button {
        margin-top: 0;
      }
    }
  }
}
