@import '@/assets/styles/base/mixins';

.breadcrumbs {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 13px;
  user-select: none;

  .icon {
    max-width: 18px;
    max-height: 18px;
    width: 100%;
    height: 100%;
    margin-right: 10px;

    @include media-breakpoint-down(xs) {
      max-width: 14px;
      max-height: 14px;
    }
  }

  &__link-block {
    display: flex;
    column-gap: 15px;
    align-items: baseline;
    color: rgba(255, 255, 255, 0.5);
  }

  &__link {
    color: rgba(255, 255, 255, 0.5);

    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }
}
