@import '@/assets/styles/base/mixins';
@import '@/assets/styles/base/variables';

.reviews-section {
  padding-bottom: 55px;
  padding-top: 50px;
  overflow: hidden;

  .pagination {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    @include section-title();

    @include media-breakpoint-down(xs) {
      font-size: 20px;
      letter-spacing: 0.05em;
    }
  }

  &__pagination {
    margin-top: 45px;

    @include media-breakpoint-down(sm) {
      margin-top: 35px;
    }
  }

  &__reviews-list {
    margin-top: 60px;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }

    &-item {
      width: 100%;
      display: flex;
      height: auto;
    }
  }

  &-embla {
    &__container {
      column-gap: 20px;
    }

    &__slide {
      max-width: 285px;
      min-width: 272px;
      width: 100%;
    }
  }
}
