@import '@/assets/styles/base/mixins';

.mobile-more-list{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-breakpoint-up(xxs){
    display: none;
  }

  &__button{
      min-width: 200px;
    min-height: 50px;
    background: red;
  }
}
